<html>

  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />
    <noscript>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/skel-noscript.css" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style-desktop.css" />
    </noscript>
    {% endblock head %}

    <!-- Gallery CSS -->
    {% if (article and article.photo_gallery)
       or (articles_page and articles_page.object_list[0].photo_gallery)
       or (page)
       %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/magnific-popup.css">
    {% endif %}

    <!-- TODO optional loading only when needed -->
    <!-- Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/slick/slick-theme.css"/>

  </head>

  <body class="no-sidebar">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
      <div class="container">

        <header id="banner" class="body">

          <nav>

          <div class="dropdown">
            <a href="{{ SITEURL }}" class="dropdown-button">🏠</a>
          </div>

          <div class="dropdown">
            <button class="dropdown-button">О клубе</button>
            <div class="dropdown-content">
              <a href="#">Педагоги</a>
              <a href="{{ SITEURL }}/pages/rules.html">Правила</a>
              <a href="{{ SITEURL }}/pages/schedule.html">Расписание</a>
            </div>
          </div>

          <div class="dropdown">
            <button class="dropdown-button">Курсы</button>
            <div class="dropdown-content">
              {% for tag, _articles in tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>

          <div class="dropdown">
            <button class="dropdown-button">Студии</button>
            <div class="dropdown-content">
              {% for article in articles %}
                {% if article.category == 'Студии' %}
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          </nav>

        </header>

        <!-- meant to be replaced in child templates -->
        {% block content %} {% endblock %}

      </div>
    </div>

    <!-- Footer Wrapper -->
    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.dropotron.js"></script>
    <script src="{{ SITEURL }}/theme/js/config.js"></script>
    <script src="{{ SITEURL }}/theme/js/skel.min.js"></script>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="/theme/css/ie8.css" /><![endif]-->

    {% if (article and article.photo_gallery)
       or (articles_page and articles_page.object_list[0].photo_gallery)
       or (page and page.photo_gallery)
    %}
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.magnific-popup.min.js"></script>
    <script>
      $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        fixedContentPos: true,
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [1,2]
        },
        image: {
          titleSrc: function(item) {
            if (item.el.attr('caption') && item.el.attr('exif')) {
              return (item.el.attr('caption').replace(/\\n/g, '<br />') +
                '<small>' + item.el.attr('title') + ' - ' + item.el.attr('exif') + '</small>');
            }
            return item.el.attr('title') + '<small>' + item.el.attr('exif') + '</small>';
          } }
      });
    </script>
    {% endif %}

    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/slick/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(
        function(){
          $('.carousel').slick({
            autoplay: true,
            // adaptiveHeight: true
            // dots: true
          });
        });
    </script>

  </body>
</html>
