{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="12u">
    <section>
      <div>
        <div class="row">
          <div class="12u skel-cell-mainContent">
            <!-- Content -->
            <article class="box is-post">
              {% if page.photo_image is defined %}
              <a href="#" class="image image-full"><img src="{{ page.photo_image[1] }}"/></a>
              {% endif %}
              {{ page.content }}
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Gallery -->
<div class="row">
  <h2>Галерея</h2>
  <div class="gallery">
    {% for title, gallery in page.photo_gallery %}
    <h1>{{ title }}</h1>
    {% for name, photo, thumb, exif, caption in gallery %}
    <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}">
      <img src="{{ SITEURL }}/{{ thumb }}">
    </a>
    {% endfor %}
    {% endfor %}
  </div>
</div>


<!-- Courses -->
<div class="row">
  <h2>Наши Курсы</h2>
  <div class="12u">
    <section>
      {% for article in articles if article.category == "Курсы" %}
      {% if loop.index0 % 3  == 0 %}
      <div class="row">
        {% endif %}
        <div class="4u">
          <section class="box">
            {% if article.photo_image %}
            <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full">
              <img src="{{ SITEURL }}/{{ article.photo_image[1] }}" alt=""/>
            </a>
            {% endif %}
            <header>
              <h3>{{article.title }}</h3>
            </header>
            {{ article.summary }}
            <footer class="actions">
              <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">
                ПОДРОБНЕЕ
              </a>
            </footer>
          </section>
        </div>
        {% if loop.index % 3  == 0 %}
      </div>
      {% endif %}
      {% endfor %}
    </section>
  </div>
</div>

<!-- Studios -->
<div class="row">
  <h2>Наши Студии</h2>
  <div class="12u">
    <section>
      {% for article in articles if article.category == "Студии" %}
      {% if loop.index0 % 3  == 0 %}
      <div class="row">
        {% endif %}
        <div class="4u">
          <section class="box">
            {% if article.photo_image %}
            <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full">
              <img src="{{ SITEURL }}/{{ article.photo_image[2] }}" alt=""/>
            </a>
            {% endif %}
            <header>
              <h3>{{article.title }}</h3>
            </header>
            {{ article.summary }}
            <footer class="actions">
              <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">
                ПОДРОБНЕЕ
              </a>
            </footer>
          </section>
        </div>
        {% if loop.index % 3  == 0 %}
      </div>
      {% endif %}
      {% endfor %}
    </section>
  </div>
</div>

{% endblock %}
