{% extends "base.html" %}


{% block content %}

<!-- Content -->
<div class="row">
  <div class="12u">
    <section>

      <div>
        <div class="row">
          <div class="12u skel-cell-mainContent">

            <article class="box is-post">

              <!-- Carousel -->
              <div class="carousel">
                {% for title, gallery in page.photo_gallery if title == 'carousel'%}
                {# TODO filter on carousel name #}
                  {% for name, photo, thumb, exif, caption in gallery %}
                  <div class="image">
                    <img src="{{ SITEURL }}/{{ photo }}"/>
                  </div>
                  {% endfor %}
                {% endfor %}
              </div>


              <!-- Rendered Content -->
              {{ page.content }}
            </article>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Courses -->
<div class="row">
  <h2>Наши Курсы</h2>
  <div class="12u">
    <section>
      {% for article in articles if article.category == "Курсы" %}
      {% if loop.index0 % 3  == 0 %}
      <div class="row">
        {% endif %}
        <div class="4u">
          <section class="box">
            {% if article.photo_image %}
            <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full">
              <img src="{{ SITEURL }}/{{ article.photo_image[1] }}" alt=""/>
            </a>
            {% endif %}
            <header>
              <h3>{{article.title }}</h3>
            </header>
            {{ article.summary }}
            <footer class="actions">
              <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">
                ПОДРОБНЕЕ
              </a>
            </footer>
          </section>
        </div>
        {% if loop.index % 3  == 0 %}
      </div>
      {% endif %}
      {% endfor %}
    </section>
  </div>
</div>

<!-- Studios -->
<div class="row">
  <h2>Наши Студии</h2>
  <div class="12u">
    <section>
      {% for article in articles if article.category == "Студии" %}
      {% if loop.index0 % 3  == 0 %}
      <div class="row">
        {% endif %}
        <div class="4u">
          <section class="box">
            {% if article.photo_image %}
            <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full">
              <img src="{{ SITEURL }}/{{ article.photo_image[1] }}" alt=""/>
            </a>
            {% endif %}
            <header>
              <h3>{{article.title }}</h3>
            </header>
            {{ article.summary }}
            <footer class="actions">
              <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">
                ПОДРОБНЕЕ
              </a>
            </footer>
          </section>
        </div>
      {% if loop.index % 3  == 0 %}
      </div>
      {% endif %}
      {% endfor %}
    </section>
  </div>
</div>

<!-- Quests -->
<div class="row">
  <h2>Квесты</h2>
  <div class="12u">
    <section>
      {% for article in articles if article.category == "Квесты" %}

        {% if loop.index0 % 3  == 0 %}
        <div class="row">
        {% endif %}
        <div class="4u">
          <section class="box">
            {% if article.photo_image %}
            <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full">
              <img src="{{ SITEURL }}/{{ article.photo_image[1] }}" alt=""/>
            </a>
            {% endif %}
            <header>
              <h3>{{article.title }}</h3>
            </header>
            {{ article.summary }}
            <footer class="actions">
              <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">
                ПОДРОБНЕЕ
              </a>
            </footer>
          </section>
        </div>
      {% if loop.index % 3  == 0 %}
      </div>
      {% endif %}

      {% endfor %}
    </section>
  </div>
</div>

<!-- Reviews -->
<div class="row">
  <h2>Отзывы о клубе</h2>

  <div class="row">

    <div class="4u">
      <blockquote>Мой сын ходит в клуб «Эврика» с большим удовольствием вот уже несколько лет. Каждый раз, как на праздник! Ведь там столько интересного, познавательного и нового!
      Учителя с большим опытом работы, которые всегда находят подход к детям. Обучение проходит в игровой форме, что просто не может не нравиться деткам!
      Спасибо вам, дорогие педагоги, за то что с вами интересно учиться!
      <br><br>
      Наталья, мама Данилы
      </blockquote>
    </div>

    <div class="4u">
      <blockquote>Клуб "Эврика"- моя воскресная отдушина, где не только моя дочка, но и я сама погружаюсь в маленький уютный уголок родного языка, дружеское общение с другими русскоговорящих родителями и прекрасную атмосферу энтузиазма, самоотдачи и теплоты их дружного педагогического коллектива.Была также на открытом театрально-музыкальном занятии... Какая тщательная подготовка со стороны педагогов . Моя 6-летняя дочка будучи не очень вербальной и стеснительный по натуре,начала на публику читать стихи и выступать.
      А ещё очень корректный, тактичный и педагогичный директор клуба - Татьяна, которая найдёт время выслушать каждого и принять во внимание твои пожелания.
      Будем с радостью продолжать заниматься в клубе и желаем ему дальнейшего процветания,  новых интересных курсов и мероприятий.
      <br><br>
      Ольга и Эвин.</blockquote>
    </div>

    <div class="4u">
      <blockquote>Спасибо всему коллективу школы «Эврика» за полученные знания и за новых друзей! Доброжелательные (и вместе с тем требовательные) педагоги, интересные занятия, и, конечно, любознательные детки и заботливые родители, с которыми приятно проводить время не только на уроках, но и на переменках  :)
      Каждый наш поход - праздник, вот уже несколько лет. Любим с "Эврикой" заниматься и обожаем клубные праздники, экскурсии и квэсты. 
      <br><br>
      Ольга и Эрик</blockquote>
    </div>

  </div>

</div>


<!-- Gallery -->
<div class="row">
  <h2>Галерея</h2>
  <div class="gallery">
    {% for title, gallery in page.photo_gallery if title == 'gallery' %}
    {% for name, photo, thumb, exif, caption in gallery %}
    <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}">
      <img src="{{ SITEURL }}/{{ thumb }}">
    </a>
    {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock %}
