{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="12u">
    <section>
      <div>
        <div class="row">
          <div class="12u skel-cell-mainContent">

            <!-- Content -->
            <article class="box is-post">
              {% if article.photo_image %}
              <div class="image image-full"><img src="{{ SITEURL }}/{{ article.photo_image[1] }}"/></div>
              {% endif %}
              <div class="post-infos">
                <ul class="tags">
                  {% if article.category %}
                  <li><a class="button" href="{{ article.category.url }}">{{ article.category|capitalize }}</a></li>
                  {% endif %}
                  {% for tag in article.tags %}
                  <li><a class="button button-alt" href="{{ tag.url }}">{{ tag|capitalize }}</a></li>

                  {% endfor %}
                </ul>
              </div>

              <div class="pennant pennant-alt date">{{ article.date|strftime('%Y-%m-%d') }}</div>
              <h2>{{ article.title }}</h2>
              {{ article.content }}

              <!-- Gallery -->
              {% if article.photo_gallery %}
              <div class="gallery">
                {% for title, gallery in article.photo_gallery %}
                <h1>{{ title }}</h1>
                {% for name, photo, thumb, exif, caption in gallery %}
                <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
                {% endfor %}
                {% endfor %}
              </div>
              {% endif %}

            </article>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
