<html>

  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />
    <noscript>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/skel-noscript.css" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style-desktop.css" />
    </noscript>
    {% endblock head %}
    <!-- Gallery CSS -->
    {% if (article and article.photo_gallery)
       or (articles_page and articles_page.object_list[0].photo_gallery)
       or (page)
       %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/magnific-popup.css">
    {% endif %}
  </head>

  <body class="no-sidebar">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
      <div class="container">

        <header id="banner" class="body">

          <!-- Navbar -->
          <nav>
            <ul>

              <!-- pages -->
              {% for p in pages %}
              {{ p.slug }}
              <li {% if p == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}

              <!-- categories -->
              {% for cat, null in categories %}
              <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
              {% endfor %}

            </ul>
          </nav>
        </header>

        <!-- meant to be replaced in child templates -->
        {% block content %} {% endblock %}

      </div>
    </div>

    <!-- Footer Wrapper -->
    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.dropotron.js"></script>
    <script src="{{ SITEURL }}/theme/js/config.js"></script>
    <script src="{{ SITEURL }}/theme/js/skel.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/skel-panels.min.js"></script>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="/theme/css/ie8.css" /><![endif]-->



    {% if (article and article.photo_gallery)
       or (articles_page and articles_page.object_list[0].photo_gallery)
       or (page and page.photo_gallery)
    %}
    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.magnific-popup.min.js"></script>
    <script>
      $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [1,2]
        },
        image: {
          titleSrc: function(item) {
            if (item.el.attr('caption') && item.el.attr('exif')) {
              return (item.el.attr('caption').replace(/\\n/g, '<br />') +
                '<small>' + item.el.attr('title') + ' - ' + item.el.attr('exif') + '</small>');
            }
            return item.el.attr('title') + '<small>' + item.el.attr('exif') + '</small>';
          } }
      });
    </script>
    {% endif %}


  </body>
</html>
